body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.photo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
}
img{
    width: 100%;
    height: auto;
}