* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Courier', sans-serif;
}

body {
    background: url("./imgs/5291450.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#app-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: auto;
    position: relative;
    top: 3rem;
    background: linear-gradient(124deg, #fbe6a8, #609a92);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
}

#upload {
    display: none;
}

#upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 2rem;
    border-radius: 7rem;
    font-size: 1.1rem;
    margin-top: 2rem;
    box-shadow: 5px 6px 13px #e1d9d9;
    color: white;
    background: linear-gradient(to bottom right, gold, rgb(165 55 165));
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#upload-label:hover {
    filter: brightness(120%);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 31rem;
    min-width: 11rem;
    max-width: 34rem;
}

.image-section {
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: minmax(auto, 3.8rem) minmax(auto, 16rem) minmax(auto, 3.8rem);
    justify-content: center;
    justify-items: center;
    align-items: center;
    min-height: 22rem;
    position: relative;
    transition: all 0.5s ease-in;
}

img {
    width: 5rem;
    height: auto;
    transition: all 0.5s ease;
}

/* Image transitions */

.blur-1,
.blur-2 {
    position: relative;
    filter: blur(2px);
    width: 4rem;
    height: auto;
    transition: all 0.5s ease;
}

.blur-1 {
    order: 1;
    animation: 5s ease-in 1 forwards slide-right;
}

.show-image {
    position: relative;
    width: 10rem;
    height: auto;
    order: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    transition: all 0.5s ease;
}
.show-image,
.blur-1,
.blur-2{
    cursor: pointer;
}
.blur-2 {
    order: 3;
}

#error {
    width: 100%;
    text-align: center;
    margin: 0.5rem 0rem;
}

/* Next & previous button section */

#next,
#previous {
    font-size: 2rem;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to bottom right, rgb(69 185 171), transparent);
    border: none;
    color: white;
    box-shadow: 2px 5px 7px rgb(214 212 212 / 77%);
    cursor: pointer;
    border-radius: 0.6rem;
    width: 3rem;
    height: 19.6rem;
    top: 1rem;
}

#next {
    right: 0;
}

#previous {
    left: 0;
}

/* View all images */
#view-all-imgs {
    font-size: 1.1rem;
    background: -webkit-linear-gradient(318deg, goldenrod, #1e1e98);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    border: none;
    margin: 0.5rem 0rem;
    border-bottom: 1px solid tan;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-text-fill-color: transparent;
}

#view-all-imgs:hover {
    border-bottom: 3px solid tan;
    animation: hue 10s infinite linear;
}

#total-imgs {
    display: inline-block;
    grid-area: 1 / 1 / 2 / 6;
    padding-top: 4rem;
}

.display-all-imgs {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
    grid-template-rows: minmax(4rem, auto);
    background-color: white;
    border-radius: 0.4rem;
    position: absolute;
    justify-content: center;
    justify-items: center;
    width: 100%;
    box-shadow: 1px 3px 6px #9e9e9e3b;
    height: 100vh;
    z-index: 4;
}

#close-button {
    position: absolute;
    font-size: 2.6rem;
    background: none;
    border: none;
    top: 0;
    z-index: 7;
    right: 2rem;
    cursor: pointer;
    color: #ff2323;
}

#close-button:hover {
    color: red;
}

.view {
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.381);
    height: auto;
    width: 100%;
    z-index: 9;
    
}

.fullscreen-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 7;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.517);
}

.small-img {
    width: 100%;
    height: auto;
}

.hide {
    display: none;
}
/* footer */
footer a{
    text-decoration: none;
    font-size: 0.7rem;
    display: inline-block;
    color: purple;
    transition: all 0.5s ease;
    font-style: italic;
    margin-top: 4rem;
}
footer a:hover{
    text-decoration: underline;
}

.hidden {
    width: 4rem;
    height: auto;
    display: none;
    z-index: -1;
    position: relative;
    transition: all 0.5s ease;
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}